/* 
Thuộc tính padding: Đệm 1 thẻ html (Khoảng cách từ border đến nội dung) 

- padding: Nhận cả giá trị tương đối và tuyệt đối 
- padding-top và bottom: Không hoạt động với thẻ inline ( Block hoạt động bình thường ) 
- padding: Nhận đủ các trường hợp: 1 giá trị, 2 giá trị, 3 giá trị, 4 giá trị 

- padding không có giá trị auto, và âm

4 thuộc tính mở rộng: 
- padding-top 
- padding-left 
- padding-right
- padding- bottom 
*/

.box {
  border: 1px solid red;
  /* padding: 30px; */
}

.btn-wrap {
  text-align: center;
  padding: 20px 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid red;
  padding: 10px 30px;
  background-color: green;
  color: #fff;
}
