h2 {
    color: blueviolet;
    background-color: yellow;
}

/* 
selector 1 {
    property1: value1;
    property2: value2;
    property3: value3;
}

selector 2 {
    property1: value1;
    property2: value2;
    property3: value3;
}
 */