/* Selector CSS */
/* #title {
    color: red;
}
.title {
    color: green;
}
h3 {
    color: yellow;
} */

/* .box .title {
    color: red;
}

.content .title {
    color: green;
} */

/* .box >.title {
    color: red;
}

.box > div > div > .title {
    color: green;
} */

h1.title.title-large {
  color: green;
}

h2.title {
  color: red;
}

/* 
Chọn càng chi tiết ----> Độ ưu tiên càng cao
*/

.box p ~ h2 {
  color: red;
}
