* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

table tr th,
table tr td {
  padding: 5px;
}

table tr th {
  font-weight: 500;
  text-align: left;
}
button {
  padding: 2px;
  height: 23px;
  min-width: 52px;
}
